#contact-form {
    label {
        display: inline-block;
    }

    input[type=submit] {
        background: #0b4479;
        border: 0;
        padding: .5rem 2rem;
        color: #fff;
        border-radius: 3px;
    }

}