// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #013564 !default;
$light-blue: #1a6db7;
$gold: #fcaf1e;
$black: #000;


$spacer: 0;

$font-family-sans-serif:  'Open Sans', sans-serif;   //"Times New Roman", Times, serif;

$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 600;
$headings-line-height: 1.2em;
$headings-color: $black;
$headings-margin-bottom: 1rem;

$font-headline: 'Lato', sans-serif; //'Nunito', sans-serif;   // Futura 
$font-subheadline: 'Quicksand', sans-serif; // Myriad Pro


$transition-speed: .25s;